body {
    background-color: lightblue;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: white;
    line-height: 40px;
    margin-left: 0px;
    margin-right: 25px;
    border-bottom: 2PX solid salmon;
    width: 100%;
    padding: 0;

}
.navbar-brand{
    font-size:40px;
    background-color: lightgrey;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    border: 0;

}

.navbar-nav{ 
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-style: bold;
}

.nav-item {
    padding: 0px;
    margin: 20px;
    border: 0;
    
}

#navbarNavAltMarkup{
    /* //put something here to make it drop down below the rest of the menu when shrunken down.  */
    display: block;
}

#column1{
padding: 10px;
}
#column2{
padding: 10px;
}
#column3{
    border-bottom: 20px;
    margin-bottom: 20px;

}
.btn{
    width: 100%;
}
.card-footer{
    background-color: white;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;

}

.card-img-overlay{
    padding: 0;
}

hr{
    border-top: 3px dotted white;
    margin: 5px;
}

.container-fluid{
    background-color: lightgrey;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 90%;
    max-width: 800px;
    
    
    
}

#exampleInputEmail1{
    s
}

#bio-image{
    width: 300px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 20px;
}


.btn-primary{
    width: 100px;
}

.fixed-bottom {
    padding: 10px;
    margin: 0;
    background-color: lightgrey;
    height: 50px;
    text-align: center;
    border-top: 2px solid  salmon;
    position: fixed;
    width: 100%;

}